:root {
  --clr-primary: #2c2c84;
  --clr-secondary: #cbf15e;
  --clr-tetiary: #cbf15e4d;
  --clr-text: #434547;
  --font-primary: 'Railway', sans-serif;
  --radius-default: 14px;
}

body {
  font-family: var(--font-primary);
  color: var(--clr-text);
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-1 {
  flex: 1;
}
.p-2 {
  padding: 0.5rem;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}
.items-start {
  align-items: start;
}

.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.phone-input {
  display: flex;
  align-items: center;
  border: 1px solid var(--clr-secondary);
  border-radius: var(--radius-default);
  height: 50px;
  padding-inline: 1rem;
  margin: 0.5rem 0;
}

.header {
  color: var(--clr-primary);
  font-weight: 700;
}

.discount-info {
  display: flex;
  align-items: center;
  background-color: var(--clr-tetiary);
  border-radius: var(--radius-default);
  padding-inline: 1rem;
  padding-block: 0.3rem;
  margin: 0.5rem 0;
  color: var(--clr-primary);
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.payment-container {
  display: flex;
  width: min(70%, 780px);
  min-height: 600px;
  padding-block: 3rem;
  padding-inline: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  gap: 6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.bold {
  font-weight: 700;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 14px;
  background-color: var(--clr-primary);
  color: white;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 767px) {
  .payment-container {
    flex-direction: column;
    gap: 1.5rem;
  }
  .qr-image {
    object-fit: contain;
    max-width: none;
  }
}
